* {
	margin: 5px;
	padding: 0;
}

main {
	margin-top:0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
main section {
	width: 22.7%;
	height: 16vh;
	margin-right: 5px;
	float: left;
	background-color: slateblue
}
main section.f {
	width: 12.5%;
	background-color: orange;
}
main section.g {
	width: 23.5%;
	background-color: tomato;
}
main section.a1 {
	width: 23.5%;
	height: 26.2vh;
	background-color: slateblue;
}
main section.a2 {
	width: 23.5%;
	height: 21.1vh;
	margin-top:5.8vh;
	background-color: slateblue;
}
main section.a3 {
	width: 23.5%;
	height: 16vh;
	margin-top: 10.8vh;
	background-color: slateblue;
}
main section.a4{
	width: 23.5%;
	height: 10.8vh;
	margin-top: 15.8vh;
	background-color: slateblue;
}